.sidenav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    height: 100vh;
    width: 17rem;
    background-color: #607d89;
    text-align: center;
}

.image {
    border: 10px solid #8097a1
}

.btnBars {
    display: none;
}

.navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.navList li {
    padding: 7px;
    font-weight: 600;
}

.a {
    padding: 125px 0 20px 0;
}

a {
    color: #afb5b1;
}

a:hover {
    color: #afbec4;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

@media screen and (max-width: 1000px) {
    .sidenav {
        position: sticky;
        top: 0;
        all: initial;
        display: inline;
    }

    .navList {
        display: inline-flex;
        background: #607d89;
        padding: 20px;
        width: 100%;
        height: 65px;
    }

    .navList li {
        text-align: center;
        width: 50%;
    }

    .image {
        position: absolute;
        margin: 7px;
        border: none;
        height: 47px;
        width: 44px;
    }

    .btnBars {
        border: none;
        height: 40px;
        display: inline;
        margin-left: 93%;
        margin-top: -6px;
        background: none;
    }

    /* span {
        font-size: 36px;
    } */
}