.text {
    color: #607D89;
    font-size: 1em;
}

.subheading {
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Saira Extra Condensed', serif;
    font-size: 1.35rem;
    padding-bottom: 40px;
}

.info p {
    text-align: left;
}

.socialIcons { 
    display: flex;
    list-style-type: none;
}

.socialIcons {
    padding-left: 0px;
}

.socialIcons a {
    color: #495057;
    font-size: 46px;
    margin-right: 20px;
}

.socialIcons a:hover {
    color: black;
    animation: spin-animation 0.9s;
    display: inline-block;
}
  
@keyframes spin-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}